@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Spelling gene */

.guess-display {
  text-align: center;
  margin: 10px;
}

.guess-display h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

.guess-display button {
  margin: 0 10px;
  padding: 8px 16px;
  font-size: 16px;
}

.text {
  cursor: default;
}

.button {
  cursor: pointer;
  border-radius: 6px;
  background-color: oklch(0.928 0.006 264.531);
  border-color: oklch(0.872 0.01 258.338);
}
